// main: ../style.less

nav {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

}

.nav__link.active {
    color: #32afc5;
}

.nav__link:hover {
    color: #32afc5;
}

.nav__link2:hover {
    color: #32afc5;
    opacity: 1;
}

.nav__link2 {
    padding-top: 16px;
    margin-right: 28px;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
}

.nav__link:first-child {
    margin-left: 0;
}


/* Button */


.btn {
    display: inline-block;
    vertical-align: top;
    padding: 16px 51px;
    border-radius: 26px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.btn2 {
    display: inline-block;
    vertical-align: top;
    padding: 18px 64px;
    border-radius: 27px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.btn3 {
    display: inline-block;
    vertical-align: top;
    padding: 18px 66px;
    border-radius: 27px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.btn4 {
    display: inline-block;
    vertical-align: top;
    padding: 18px 58px;
    border-radius: 27px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.btn--blu {
    background-color: #32afc5;
    opacity: 1;
}